body {
  background-color: #ACD1F2;
  display: grid;
}

header {
  background-color: #F26D6D;
  color: #F2E205;
  font-size: 25px;
  font-weight: bold;
  padding: 15px 0;
  text-shadow: #F2358D -2px 2px;
  display: grid;
  grid-auto-columns: auto;
  justify-items: center;
}

.navBarSpan {
  grid-row: 1;
}